body {
  display: flex;
  margin: auto 0;
}
#background {
  
  height: 310vh;
   background: rgb(255, 254, 254);
   margin: auto 0;
   
}


#top-container{
    
  width: 100vw;
    height: 100vh;
  
}

#top{
  display: flex;
  position: relative;
  background: linear-gradient(to bottom right, rgb(2, 2, 202) 0%, white 35%) ;
  
    
    
    
     

    
}



















  
  
