//Project Page Display
.pages{
    
  position:relative;
  top:-75px;
  left:7.5%;
  right:50%;
  padding-bottom: 2%;
  
  width:85%;
  background: white;
  box-shadow: 0px 0px 20px 0px;
  border-radius: 0% 0% 0% 0%;

}

//PROJECT Word
#project {
  position: relative;
    display:flex;
    position: relative;
    font-weight: bold;
    padding: 5%;
    top: 10px;
    margin-top:10%;
    
    justify-content: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color:rgb(2, 2, 202);

}

.display {
  position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-evenly;

top:3%;


}

.mar {
  margin:3%;
}

//Text

.textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  
  max-width: 400px;
  width:50%;
  
  box-shadow: 0px 0px 0px 0px;
  font-family: 'Poppins', sans-serif;
}



//Title
.title{
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    color:#0202ca;
}
//Description

.description{
  
  
  text-align:left;
  color: black;
  font-size: 1rem;
  
}

// See Live Button 
.live {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  font-family: 'Poppins', sans-serif;
    font-size:calc(.40rem + 1vw); 
    height: 5vh;
    width: 13vw;
    background-color: rgb(255, 255, 255);
    color: #0202ca;
    border: 2px solid #0202ca; 
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    align-items: center;
}

.desAndbuttonWrap{
  display: flex;
  flex-direction: column;
}

//Project Pictures


.box {
    
    width: 50%;
    max-width: 800px;
    padding-bottom: 7%;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    
    background:rgb(2, 2, 202);
    
   
    box-shadow: 0px 0px 5px 0px;
    
}

.Calc-img{
  width: 95%;
    max-width: 800px;
    box-shadow: 0px 0px 5px 0px;
}

.DV-img {
  width: 95%;
  max-width: 800px;
    box-shadow: 0px 0px 5px 0px;
}


.all-gears {
  position: relative;
  top:40px;
  right:25px;
}


.parent1{
    position: absolute;
    height: 200px;
    top:40px;
    right:60px;
    
}

.parent2{
    position: absolute;
    height: 200px;
    top:-30px;
    right: -120px;
}

.parent3{
    position: absolute;
    height: 200px;
    top:-25px;
    right:-10px;
}

.gear {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  background: #fff;
  border-radius: 50%;
  animation-name: spin2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gear .center{
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background:rgb(2, 2, 202);
  border-radius: 50%;
    border-radius: 100%;
  }

  .gear2{
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .gear2 .center2{
    position: absolute;
    top: 38px;
    left: 38px;
    z-index: 10;
    width:75px;
    height: 75px;
    background:rgb(2, 2, 202);
    border-radius: 50%;
  }
  
  .tooth2{
    position: absolute;
    top: -14px;
    left: 58px;
    z-index: 1;
    width: 35px;
    height: 180px;
    background:#fff;
  }
  
  .tooth2:nth-child(2){
    transform: rotate(45deg);
  }
  
  .tooth2:nth-child(3){
    transform: rotate(90deg);
  }
  
  .tooth2:nth-child(4){
    transform: rotate(135deg);
  }



  .tooth{
  position: absolute;
  top: -13px;
  left: 38px;
  z-index: 1;
  width: 25px;
  height: 125px;
  background:#fff;
  
  }

  .tooth:nth-child(2){
  transform: rotate(45deg);
}

.tooth:nth-child(3){
  transform: rotate(90deg);
}

.tooth:nth-child(4){
  transform: rotate(135deg);
}

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
  }

  @keyframes spin2 {
    from {transform: rotate(360deg); }
    to {transform: rotate(0deg);}
  }

  @media (max-width:500px) {
    .box{
      width: 300px;
      height: 200px;
    }

    .parent2{
      display: none;
    }

    .parent3{
      position: relative;
      top: 0px;
      left:8%;
    }
  }

  @media (max-width: 800px){
    .parent1{
      display: none;

    }
  }

  @media (max-width: 535px){
    
    .desAndbuttonWrap {
      display: flex;
      align-items:center ;
      
    }

  }
  
  