

.square {
display: inline-block;
position: relative;
margin: 0 auto;
padding-bottom: 5%;
width:100%;
background: linear-gradient(to bottom , #0202ca 60%, white 100%) ;
box-shadow: 0px 0px 0px;
border-radius: 0% 0% 0% 0%;


}





.about-me {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}



.mars{
    display: flex ;
    flex-wrap: wrap;
    position: relative;
    
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.img-fluid {
    max-width: 290px;
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 0px 10px 0px;
    
    
}

 .paragraph{ 
    display: flex;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    
    color:white;
    font-size: 1em;
    
    
    
}



.info-res {
    text-align: justify;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;

    
    align-items: flex-start;
    top:-30px;
    
    
}


.resume-button {
    
    
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size:20px; 
    height: 50px;
    width: 200px;
    background-color:rgb(2, 2, 202);
    color: white;
    border: 2px solid white; 
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15%;
    
}


@media (max-width: 1296px) {

    .paragraph{
        
        text-align: center;
    }

    

    .info-res{
        display:flex;
        
        align-items: center;
    }
}