.contactPage {
    
    display:flex;
    margin: 0 auto;
    
}

.containers {
    position: relative;
    width: 100vw;
    height: 40vh;
    justify-content: end;
    background: linear-gradient(to bottom , white 0%, #0202ca 30%) ;
    box-shadow: 0px 0px 0px 0px;
      
}

.contact-info {

  position: relative;
  
  height: 300px;
  
  top:12%;
  bottom: 50%;
  font-family: 'Poppins', sans-serif;
  
}

h3{
    position: relative;
    font-size: 60px;
    top:15px;
    font-family: 'Poppins', sans-serif;
    color:white;
}
h4{
    font-size: 40px;
    color:white;
    position: relative;
}



.cta-button {
    position: relative;
    bottom:40px;
    font-family: 'Poppins', sans-serif;
    font-size:20px; 
    height: 50px;
    width: 200px;
    background-color:rgb(2, 2, 202);
    color: white;
    border: 2px solid white; 
    border-radius: 5px;cursor: pointer;
    cursor: pointer;
    
}