@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}  

$scrollLength: 100vh;

.back-to-top-wrapper {
  // uncomment to visualize "track"
  // outline: 1px solid red;
  position: absolute;
  top: $scrollLength;
  right: 0.25rem;
  // Optional, extends the final link into the
  // footer at the bottom of the page
  // Set to `0` to stop at the end of `main`
  bottom: -5em;
  // Required for best support in browsers not supporting `sticky`
  width: 3em;
  // Disable interaction with this element
  pointer-events: none;
}

.footer {
    position: absolute;
    margin:  auto 0;
    width:100vw;
    height:35vh;
    background-color:#000000; 
    
    
    
}



.footer-box { 
    
  position: relative;
  width : 275px;
  height: 175px;
  margin:0 auto;
  top:10%;
  bottom: 50%;
  
}

#icons {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    

}

.arrow {
position: relative;
cursor: pointer;
top:30px;

}


.github {

   cursor:pointer;
}

.twitter {
    cursor: pointer;
}

.linkedin{
    cursor: pointer;
    transition: all .01s ease-in;
}

hr{
    position: relative;
    top: 70%;
    border: 0;
    right:10%;
    width: 120%;
    border-top: 2px solid grey;
}

.footer_text{
    position: relative;
    top:18%;
    right:-39.9%;
    font-size: .8rem;
    color:grey;
    width: 21%;
}